@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.card-wrapper {
  position: relative;
  max-width: 320px;
  /* Ajusta según sea necesario */
  margin: auto;
  transition: transform 0.3s;

}

.card-wrapper:hover {
  position: relative;
  transform: scale(1.1);
}

.card-wrapper:active {
  position: relative;
  transform: scale(1.05);
}


.image-Card {
  width: "30%";
  height: "auto";


}

.div-image {
  position: absolute;
  top: -35%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

}


.card, .card-body {
  background-color: transparent !important;
}

.content-Card {
  text-align: left;
  background-color: transparent; /* Cambiado de black a transparent */
  padding-top: 3em;
  padding-bottom: 3em;
  color: #ffffff;
  border-radius: 25px;
  border: 1px solid #fff;
}



.card-title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: -0.05em;
  line-height: 1;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: auto;
  margin: 25px 0px 25px 0px;


}

.h1Cardvertical {
  font-size: 18px;
  font-family: Poppins;
  font-weight: 800;
  text-align: center;
  margin-bottom: 10%;
  letter-spacing: -0.05em;
  color: #ffffff;

}

.card {
  border-radius: 25px;
  margin-bottom: 5em;
}

.h1EncuentraTu {

  text-align: center;
  margin-top: 5%;
}

.img-thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  object-fit: cover;
  /* Para mantener la proporción de la imagen */
}

.image-container {
  background-color: #DCE0E4;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 10%;

}

.image-container img {
  width: 100%;
  height: auto;
}


.card-title {
  color: #EFF6E0; /* verde claro */
}

.card-wrapper:hover {
  border-radius: 25px;
  background-color: #85B8CB; /* azul medio */
}

.card:hover .card-title {
  color: #EFF6E0; /* oscuro negro */
}

@media (max-width: 575.98px) {
  .card-wrapper {
    margin-top: 4em;
    /* Ajusta este valor según lo que necesites */
    margin-bottom: 4em;
    /* Ajusta este valor según lo que necesites */
  }

  .card-title {
    margin-top: 1em;
  }
}

@media (max-width: 575.98px) {
  .h1Cardvertical h1 {
    font-size: 2em;
    /* Ajusta este valor según lo que necesites */
    margin-top: 0em;
    margin-bottom: 2em;
  }

  .h1EncuentraTu h1 {
    font-size: 18px;
    font-family: Poppins;
    font-weight: 800;
    text-align: center;
    margin-bottom: 10%;
    letter-spacing: -0.05em;
    color: #ffffff;

  }


  
}