.NavBar-logo {

  height: 300px;

}

.nav-link {

  color: white;

}


.interview-card .cardFact-wrapper {
  height: 900px;
}

.startRadial {

  /*  background: rgb(56,166,226);
background: radial-gradient(circle, rgba(56,166,226,1) 10%, rgba(31,146,209,1) 24%, rgba(43,121,163,1) 38%, rgba(41,100,130,1) 51%, rgba(40,99,129,1) 62%, rgba(16,78,102,1) 80%);
 */
  /*  background: rgb(31,146,209);
 background: radial-gradient(circle, rgba(31,146,209,1) 10%, rgba(41,99,129,1) 54%, rgba(40,99,129,1) 64%, rgba(16,78,102,1) 78%);
 */
/*   background: rgb(88, 123, 143);
  background: radial-gradient(circle, rgba(88, 123, 143, 1) 2%, rgba(41, 99, 129, 1) 30%, rgba(34, 85, 111, 1) 64%, rgba(16, 78, 102, 1) 78%);
  
   */
  
  /*     background: rgb(56,166,226);
    background: radial-gradient(circle, rgba(56,166,226,1) 7%, rgba(31,146,209,1) 18%, rgba(41,100,130,1) 37%, rgba(40,99,129,1) 58%); */


    background: rgb(88,123,143);
    background: linear-gradient(180deg, rgba(88,123,143,1) 2%, rgba(41,99,129,1) 30%, rgba(34,85,111,1) 64%, rgba(16,78,102,1) 78%);

  }

.backgroundradialconinue {
  /* background-color: #104e66 */
  background-color: #286381
}



.HomeLayout {
  display: flex;
  min-height: 100vh;
  width: '100%';
  background-color: #e8ebed;
  padding-top: 75px;
}

.HomeLayout-main {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #e8ebed;


}

.background-sections {
  background-color: #e8ebed;
  border: 12px solid white;

}




@media (max-width: 600px) {
  .NavBar-logo {
    height: 200px;
  }
}


.homeImg-container {
  width: 100%;
  height: 65vh;
  /* Ajusta la altura a tu necesidad */

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}



.homeImg-container img {
  width: 100%;
  height: 100%;
  /* Asegúrate de que la altura sea automática para mantener las proporciones de la imagen */
  object-fit: cover;
  /* Esto hará que la imagen se ajuste a su contenedor mientras mantiene sus proporciones */
}




.card-section {
  padding: 0 15% 0 15%;
}



.encuentraTuEntrenamiento-container {

  background-color: #104e66;

  
}

.banner-container {

  overflow: hidden;
  position: relative;
  width: 90%;
  height: 90%;
  margin-left: 3em;
  border-top-right-radius: 90px; /* Esto afectará solo a la esquina superior derecha */
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3) 2%, rgba(184, 184, 184, 0.5) 39%, rgba(129, 129, 129, 0.3) 98%);

}

.fade-element {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}





.container-proximamente {

  transform: rotate(-5deg);
  /* Ajusta el ángulo de inclinación */
  background-color: black;
  position: relative;
  overflow: hidden;
  height: 80px;
  /* Ajusta a tu necesidad */
  width: 110%;
  margin-top: 13em;
  
}

.texto-proximamente {
  color: yellow;
  position: absolute;
  white-space: nowrap;
  font-size: 4em;
  /* Ajusta el tamaño del texto */
  animation: mover 50s linear infinite;
  /* Ajusta la velocidad de la animación */
  font-weight: 800;
  word-spacing: 40px;
  /* Ajusta el espacio entre las palabras */
  font-family: Anton;
  display: flex;
  justify-content: space-between;

}

.texto-proximamente div {
  margin: 0 20px;
  /* Ajusta este valor a tu preferencia */
}

@keyframes mover {
  0% {
    left: 0;
  }

  100% {
    left: -50%;
  }
}



.play-icon-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Los siguientes estilos son opcionales, pero pueden ayudarte a hacer que el ícono sea más visible en el fondo */
  border-radius: 50%; /* Esto hace que el fondo sea un círculo */
  padding: 10px; /* Ajusta el espaciado alrededor del ícono */
}

.play-icon {
  color: white; /* Cambia el color del ícono */
}



.background-sections {
  position: relative;
}






.h1Cardvertical h1,
.h1EncuentraTu h1 {
  position: relative;
  display: inline-block;
  /* para que la línea ocupe sólo el espacio del texto */
}

.h1Cardvertical h1::after,
.h1EncuentraTu h1::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  /* incrementa esto para una línea más gruesa */
  background: #1F92D1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform .3s;
}



.rezise:hover .h1Cardvertical h1::after, 
.rezise:hover .h1EncuentraTu h1::after {
  transform: scaleX(1);
  
} 



.img-text {
  padding-top: 2em;
  padding-left: 4em
}

.title-img-text {
  font-size: 19px;
  font-weight: 600;
  line-height: 1.4;


}

.footer-img-text {
  font-weight: 400;
  font-size: 16px;
  width: 70%;
  max-width: 70%;
  line-height: 1.;
  margin-top: 3em;
}

.footer-img-text-encuentraT {
  font-weight: 400;
  font-size: 21px;
  font-family: 'Poppins';
  width: 70%;
  max-width: 70%;
  line-height: 1.5;
  color: #E8EBED;
  

}

a.join-now {
  display: inline-flex; /* Cambiado de inline-block a inline-flex */
  align-items: center; /* Añadido para alinear verticalmente los elementos */
  justify-content: center; /* Para alinear horizontalmente los elementos */
  width: 100%; /* Para pantallas pequeñas, el botón ocupará el 100% del ancho */
  height: 50px;
 /*  background: linear-gradient(180deg, #65bce8 0%, #306485 100%); */
  background: linear-gradient(90deg, #65bce8, #306485);
  transition: all .3s;
  border-bottom: 0px solid rgba(0, 0, 0, 0);
  border-left: 0px solid rgba(0, 0, 0, 0);
  border-radius: 32px;
  border-right: 0px solid rgba(0, 0, 0, 0);
  border-top: 0px solid rgba(0, 0, 0, 0);
}


.motivation-text {
  color: #ffffff;
  font-family: Poppins;
  font-weight: 700;
  letter-spacing: -0.05em;
  text-align: left;
  line-height: 1;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  width: auto;
  margin: 25px 0px 25px 0px;
}


.motivation-text-encuentraTuEnt {
  color: #ffffff;
  font-family: Poppins;
  letter-spacing: -0.05em;
  text-align: left;
  line-height: 1.4;
  height: auto;
  max-width: 100%;
  width: auto;
  margin: 5px 0px 25px 0px;
}
.container-button-motivation-text{
  width: 100%; /* Para pantallas pequeñas, el contenedor ocupará el 100% del ancho */
}


a.join-now:hover {
  /* background: linear-gradient(180deg, #306485 0%, #124559 100%); */
  background: linear-gradient(90deg, #306485, #124559);
  transition: all .3s;
  color: #ffffff;
}

.text-button-join-now {
  padding-right: 10px;

}

.text-button-motivation-text {
  color: #ffffff;
  font-size: 17px;
  font-weight: 700;
  height: auto;
  line-height: 1.4;
  margin: 0px 50px 0px 0px;
  text-align: center;
  width: auto;
  max-width: calc(100% - 50px);
  justify-content: center;
}

.container-button-motivation-text {
  width: 20%;
}


.facts-container{

  height: auto;
  background-color: #104e66;
}

.cardFact-section{

  margin-top: 5em;
}


.fact-icon{
  color: #1F92D1
  }
  




.hola-container{

  background-color: #021f2a;
  height: auto;
  padding-bottom: 1em;

}


.hola-subcontainer{

  padding-top: 5%;
  text-align: center;

}

.hola-subcontainerBody{

  margin: 3em;
  margin-left: 5em;
  margin-right: 5em;

}

.hola-img-info{


  width: 60%;

}

.sub-hola{
  color: #c0c0c0;
  flex: none;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  justify-content: center;

}

.sub-hola-contacto{

  color: #c0c0c0;
  flex: none;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  justify-content: center;

}

.thick-white-line {
  border: 1px solid white;
  background-color: white;
}


.background-dicenDeMi {
/*   background-image: linear-gradient(to right, rgba(0, 180, 219, 0.2), rgba(0, 131, 176, 0.2));
 */

 min-height: 500px;

 background: rgb(88,123,143);
 background: radial-gradient(circle, rgba(88,123,143,1) 2%, rgba(41,99,129,1) 30%, rgba(34,85,111,1) 64%, rgba(16,78,102,1) 78%);
}

@media (max-width: 600px) {
  .NavBar-logo {
    height: 200px;
  }



}



/* Estilo para pantallas muy pequeñas (móviles en modo vertical) */
@media (max-width: 480px) {

  a.join-now {
    width: 60%; 
  }
  .card-section {
    padding: 5px 12% 0 5%;
  }
  .container-button-motivation-text{
    width: 100%; 
  }

  .footer-img-text-encuentraT {

    font-size: 16px;
  }

  .motivation-text-encuentraTuEnt{

    font-weight: 700;
  
  }

  .homeImg-container {
    height: 50vh !important;
    
  } 
  .img-text{
    padding-top: 2em;
    padding-left: 1em !important;
    padding-right: 5em !important;
  }
  .motivationSentence {
    font-size: 25px !important;
  }
  

  .title-img-text {
    font-size: 15px !important;
  }
  /* Ajustwe de la barra de scroll */
  body::-webkit-scrollbar {
    width: 1px;
  }

  body::-webkit-scrollbar-track {
      background: 888;
  }

  body::-webkit-scrollbar-thumb {
      background: #888;
  }

  body::-webkit-scrollbar-thumb:hover {
      background: #555;
  }
  .find-work-out{
    padding: 0 10% 0 10%;

    
  }
  .banner-container {
    width: 100%;
    height:80%;
    margin-left: 0;
  
  }
  .container-proximamente {

    transform: rotate(-5deg);
    /* Ajusta el ángulo de inclinación */
    background-color: black;
    position: relative;
    overflow: hidden;
    height: 80px;
    /* Ajusta a tu necesidad */
    width: 110%;
    margin-top: 13em;
    
  }

  .motivation-text-encuentraTuEnt {
    box-sizing: border-box;
    padding-left: 2em;
}

  .title-img-text {
    font-size: 15px !important;
    margin-left: 15px; /* o el valor que funcione mejor en tu caso */
  }


  
}

.lineStyle{
    display: inline-block;
    background: linear-gradient(90deg, #306485, #65bce8);
    border-radius: 32px;
    flex: none;
    height: 5px;
    margin: 0px 0px 3px 15px;
    width: 40px;
    max-width: calc(100% - 15px);
}




/* Estilo para pantallas moviles */
@media (min-width: 200px) and (max-width: 480px) {

  .card-section {
    padding: 0px 12% 0 12%;
  }



  .rezise:hover .h1Cardvertical h1::after, 
  .rezise:hover .h1EncuentraTu h1::after {
    transform: scaleX(0.6);
    
  } 


  .dicenDeMi-Title{

    font-size: 16px;
    margin-top: 45px;

  }

  .dicenDeMiSection{

    padding-top: 3em;
  }


  .background-dicenDeMi {

    
     min-height: 650px;
    
    }


    .sub-hola-contacto{

      font-size: 16px;

    }



    .hola-img-info{

      margin-left: 2em;
      width: 80%;
    }

    .hola-subcontainerBody{

      margin: 2em;

 
    
    }


}







/* Estilo para pantallas pequeñas (móviles en modo horizontal y tabletas en modo vertical) */
@media (min-width: 481px) and (max-width: 768px) {
  a.join-now {
    width: 200px; 
  }
  .card-section {
    padding: 45px 12% 0 12%;
  }

  .container-button-motivation-text{
    width: 100%; 
  }
  .homeImg-container {
    height: 50vh !important; /* Ajusta la altura a tu necesidad */
    
  } 
  .img-text{
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 5em;
  }
  .motivationSentence {
    font-size: 25px !important;
  }

  .title-img-text {
    font-size: 15px !important;
  }

  
}








/* Estilo para pantallas medianas (tabletas en modo horizontal, pequeños ordenadores) */
@media (min-width: 769px) and (max-width: 1024px) {
  a.join-now {
    width: 200px; 
  }

 
  .container-button-motivation-text{
    width: 100%; 
  }
  .card-section {
    padding: 1% 12% 10% 10%;
  }
  .homeImg-container {
    height: 60vh; /* Ajusta la altura a tu necesidad */
    
  } 
  .img-text{
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 5em;
  }
  .motivationSentence {
    font-size: 30px;
  }

  .title-img-text {
    font-size: 15px;
  }


}

/* Estilo para pantallas grandes (ordenadores de escritorio) */
/* @media (min-width: 1025px) {

} */


@media (min-width: 1024px) and (max-width: 1999px) {
  a.join-now {
    width: 40%; 
  }

  .container-button-motivation-text{
    width: 100%; 
  }
  .card-section {
    padding: 15px 12% 0 5%;
  }
  .homeImg-container {
    height: 80vh; /* Ajusta la altura a tu necesidad */
    
  } 
  .img-text{
    padding-top: 4.5em;
    padding-left: 2.5em;
    padding-right: 5em;
  }
  .motivationSentence {
    font-size: 40px;
  }

  .title-img-text {
    font-size: 15px;
  }

}

@media  (min-width: 2000px) and (max-width: 4000px) {
  a.join-now {
    width: 35%; 
  }

  .container-button-motivation-text{
    width: 20%; 
  }
  .HomeLayout-main {
    margin-left: 20%;
    margin-right: 20%;
    
  }
  .motivationSentence {
    font-size: 45px;
  }

  .card-section {
    padding: 15px 12% 0 5%;
  }
  .homeImg-container {
    height: 70vh; /* Ajusta la altura a tu necesidad */
    
  } 
  .img-text{
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 5em;
  }
 

  .title-img-text {
    font-size: 15px;
  }
  
}
@media (min-width: 100px) and (max-width: 767px) {
  .navbar-horizontal, .navbar-toggler {
      display: block;
  }
}