.nav-link {
  color: white;
}

.startRadial{
  background-color: #000101;
}
.home-layout-background {
  background-color: #000101;
}

.backgroundradialconinue {
  /* background-color: #104e66 */
  background-color: #286381;
}

.HomeLayout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  background-color: #e8ebed;
  padding-top: 75px;
  background-color: black;
}

.HomeLayout-main {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #e8ebed;
}

.background-sections {
  border-top: 12px solid white;
  border-right: 0px solid white;
  border-bottom: 0px solid white;
  border-left: 12px solid white;
  height: 650px;
}

.background-sections-articles {
  border-top: 12px solid white;
  border-right: 0px solid white;
  border-bottom: 0px solid white;
  border-left: 12px solid white;
  height: 550px;
}

.reviews {
  margin-top: 20px;
}



.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  text-align: center;
  font-size: 18px;
  color: white;
}

.centered-content-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.button-section {
  border-radius: 50px;
  border-radius: 50px;
  background-color: #2daae2;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-section-Descubrir {
  margin-top: 1em;
}

.cambio-img {
  width: 100%;
  margin-top: 50px;
}

.background-sections-img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  position: relative;
  top: 30px;
}

.homeImg-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .card-section {
  padding: 0 15% 0 15%;
}
 */
.encuentraTuEntrenamiento-container {
  background-color: #104e66;
}

.fade-element {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@keyframes mover {
  0% {
    left: 0;
  }

  100% {
    left: -50%;
  }
}

.collage-img {
  margin-top: 10px;
  width: 100%;
  height: 365px;
  border-radius: 20px;
}

.background-sections {
  position: relative;
}

.articles-section {
  height: 800px;
}

.h1Cardvertical h1,
.h1EncuentraTu h1 {
  position: relative;
  display: inline-block;
  /* para que la línea ocupe sólo el espacio del texto */
}

.h1Cardvertical h1::after,
.h1EncuentraTu h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  /* incrementa esto para una línea más gruesa */
  background: #1f92d1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s;
}

.rezise:hover .h1Cardvertical h1::after,
.rezise:hover .h1EncuentraTu h1::after {
  transform: scaleX(1);
}

.footer-img-text-encuentraT {
  font-size: 21px;
  font-family: "Poppins";
  width: 70%;
  max-width: 70%;
  line-height: 1.5;
  color: #e8ebed;
}

.motivation-text-encuentraTuEnt {
  color: #ffffff;
  font-family: Poppins;
  font-weight: 700;
  letter-spacing: -0.05em;
  text-align: left;
  line-height: 1.4;
  height: auto;
  max-width: 100%;
  width: auto;
  margin: 5px 0px 25px 0px;
}

.motivation-text-encuentraTuEnt-body {
  font-family: Poppins;
  letter-spacing: -0.05em;
  text-align: left;
  line-height: 1.4;
  height: auto;
  max-width: 100%;
  width: auto;
}

.container-button-motivation-text {
  width: 100%;
  /* Para pantallas pequeñas, el contenedor ocupará el 100% del ancho */
}

.text-button-join-now {
  padding-right: 10px;
}

.facts-container {
  /* height: 800px; */
  background-color: #104e66;
  padding: 7em 6em 0 6em;
}

.cardFact-section {
  margin-top: 5em;
}

.fact-icon {
  color: #1f92d1;
}

.hola-container {
  background-color: #021f2a;
  height: auto;
  padding-bottom: 1em;
}

.hola-subcontainer {
  padding-top: 5%;
  text-align: center;
}

.hola-subcontainerBody {
  margin: 3em;
  margin-left: 5em;
  margin-right: 5em;
}

.hola-img-info {
  width: 60%;
}

.sub-hola {
  color: #c0c0c0;
  flex: none;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  justify-content: center;
}

.sub-hola-contacto {
  color: #c0c0c0;
  flex: none;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  justify-content: center;
  display: block;
  /* Hace que el elemento span se comporte como un bloque, lo que permite agregar margen superior e inferior */
  margin: 45px 0;
  /* Agrega un margen de 20px arriba y abajo */
}

.info-hola {
  padding-top: 10em;
}

.thick-white-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  width: 100%;
  /* Ajusta este valor para controlar la longitud de la línea */
  margin: 0 auto;
  /* Centra la línea horizontalmente */
}

.background-dicenDeMi {
  /*   background-image: linear-gradient(to right, rgba(0, 180, 219, 0.2), rgba(0, 131, 176, 0.2));
 */

  min-height: 500px;

  background: rgb(88, 123, 143);
  background: radial-gradient(
    circle,
    rgba(88, 123, 143, 1) 2%,
    rgba(41, 99, 129, 1) 30%,
    rgba(34, 85, 111, 1) 64%,
    rgba(16, 78, 102, 1) 78%
  );
}

.hola-img-container {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  height: 100%;
  /* Asegúrate de que el contenedor tenga una altura establecida */
}

.hola-img-info {
  max-width: 100%;
  /* Asegúrate de que la imagen no exceda el ancho del contenedor */
  height: auto;
  /* Mantén la proporción de la imagen */
}

.lineStyle {
  display: inline-block;
  background: linear-gradient(90deg, #306485, #65bce8);
  border-radius: 32px;
  flex: none;
  height: 5px;
  margin: 0px 0px 3px 15px;
  width: 40px;
  max-width: calc(100% - 15px);
}

/* Estilo para pantallas moviles */
@media (min-width: 411px) and (max-width: 500px) {
/*   .card-section {
    padding: 0px 12% 0 12%;
  } */

  .motivationSentence {
    font-size: 15px !important;
  }

  .rezise:hover .h1Cardvertical h1::after,
  .rezise:hover .h1EncuentraTu h1::after {
    transform: scaleX(0.6);
  }

  .footer-img-sub-text {
    font-size: 16px;
  }

  .dicenDeMi-Title {
    font-size: 16px;
    margin-top: 45px;
  }

  .dicenDeMiSection {
    padding-top: 3em;
  }

  .background-dicenDeMi {
    min-height: 650px;
  }

  .sub-hola-contacto {
    font-size: 16px;
  }

  .hola-img-info {
    margin-left: 2em;
    width: 80%;
  }

  .hola-subcontainerBody {
    margin: 2em;
  }

  .footer-img-text-encuentraT {
    font-size: 16px;
    padding-right: 3em;
  }

  .footer-img-text-encuentraT {
    font-size: 16px;
    padding-left: 3em;
    padding-right: 1em;
  }

 .collage-img{

  width: 90%;
  height: auto; 

}

}

/* Estilo para pantallas pequeñas (móviles en modo horizontal y tabletas en modo vertical) */
@media (min-width: 481px) and (max-width: 768px) {
/*   .card-section {
    padding: 45px 12% 0 12%;
  } */

  .container-button-motivation-text {
    width: 100%;
  }

  .motivationSentence {
    font-size: 15px !important;
  }

  .title-img-text {
    font-size: 15px !important;
  }

}

/* Estilo para pantallas medianas (tabletas en modo horizontal, pequeños ordenadores) */
@media (min-width: 769px) and (max-width: 1024px) {
  .container-button-motivation-text {
    width: 100%;
  }

  .card-section {
    padding: 1% 12% 10% 10%;
  } 

  .motivationSentence {
    font-size: 30px;
  }

  .title-img-text {
    font-size: 15px;
  }

  .startRadial{
    padding-top: 45px;
  }


}

@media (min-width: 1024px) and (max-width: 1999px) {
  a.join-now {
    width: 20%;
  }

  .container-button-motivation-text {
    width: 100%;
  }



  .dicenDeMi-Title {
    margin-top: 45px;
  }


  .nutritionImg{
    width: 50%;
  }
}

@media (min-width: 2000px) and (max-width: 4000px) {
  .container-button-motivation-text {
    width: 20%;
  }

  .HomeLayout-main {
    margin-left: 20%;
    margin-right: 20%;
  }

  .motivationSentence {
    font-size: 34px;
  }



  .title-img-text {
    font-size: 15px;
  }

  .dicenDeMi-Title {
    margin-top: 45px;
  }
  .collage-img{
    width: 70%;
  }
}

@media (min-width: 1400px) and (max-width: 1999px) {
  .motivationSentence {
    font-size: 34px;
  }
  .collage-img{
    width: 90%;
  }

  .videoStudio{
    margin-Left: 35px
  }


}


@media (min-width: 100px) and (max-width: 767px) {
  .navbar-horizontal,
  .navbar-toggler {
    display: block;
  }
  .background-sections {
    border-top: 12px solid white;
    border-right: 0px solid white;
    border-bottom: 0px solid white;
    border-left: 0px solid white;
    height: 550px;
  }

  .background-sections-articles {
    border-top: 12px solid white;
    border-right: 0px solid white;
    border-bottom: 0px solid white;
    border-left: 0px solid white;
    height: 550px;
  }

  .videoStudio{
    margin-Left: 20px
  }

  .nutritionImg{
    width: 60%;
  }
}





@media (min-width: 200px) and (max-width: 410px) {
  .container-button-motivation-text {
    width: 100%;
  }

  .collage-img {
    width: 100%;
    height: 250px;
  }
  .footer-img-text-encuentraT {
    font-size: 16px;
    padding-left: 3em;
    padding-right: 1em;
  }

  .facts-container {
    padding: 1em 2em 0 2.5em;
  }

  .motivationSentence {
    font-size: 14px;
  }

  body::-webkit-scrollbar {
    width: 0px;
  }



  .container-proximamente {
    transform: rotate(-5deg);
    background-color: black;
    position: relative;
    overflow: hidden;
    height: 80px;
    width: 100%;
    margin-top: 13em;
  }

  .motivation-text-encuentraTuEnt {
    box-sizing: border-box;
    padding-left: 2em;
  }

  .title-img-text {
    font-size: 18px !important;
    margin-left: 15px;
  }

/* å */

  .rezise:hover .h1Cardvertical h1::after,
  .rezise:hover .h1EncuentraTu h1::after {
    transform: scaleX(0.6);
  }

  .dicenDeMi-Title {
    font-size: 16px;
    margin-top: 45px;
  }

  .dicenDeMiSection {
    padding-top: 3em;
  }

  .background-dicenDeMi {
    min-height: 650px;
  }

  .sub-hola-contacto {
    font-size: 16px;
  }

  .hola-img-info {
    margin-left: 2em;
    width: 80%;
  }

  .hola-subcontainerBody {
    margin: 2em;
  }
}
