.background-sections-nutrition, .background-sections-nutrition-borderless {
    padding: 10px;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Considera una fuente más moderna de Google Fonts */
    
  }

  .background-sections-nutrition-borderless {
    height: 650px;
  }

  /* Estilo general para la lista sobre fondo oscuro */
.list-group {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */

}

.list-group-item-header{

  color: #ffffff;
  background-color:#0d99ff; /* Fondo menos opaco para mejorar la legibilidad */
  border: none;
  transition: background-color 0.3s ease;
  padding: 15px 20px; /* Más espaciado interior */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Separador sutil */
  font-size: 20px;
}

.list-group-item {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.75); /* Fondo menos opaco para mejorar la legibilidad */
  border: none;
  transition: background-color 0.3s ease;
  padding: 15px 20px; /* Más espaciado interior */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Separador sutil */
}

.list-group-item.active {
  background-color: #007bff; /* Un color distintivo para el ítem activo */
  color: #ffffff; /* Asegurando que el texto es blanco */
}

.list-group-item:hover {
  background-color: rgba(0, 0, 0, 0.85);
}

.list-group-item.disabled {
  background-color: rgba(128, 128, 128, 0.3);
  color: #ffffff;
}

.custom-width {
  width: 100%;
  max-width: 600px; /* Max width para no extenderse demasiado en pantallas grandes */
  margin: auto; /* Centrar en la página */
}


/* Estilos para tabletas */
@media screen and (min-width: 768px) and (max-width: 2500px) {
  .custom-width {
    width: 60%; /* Un ancho más estrecho para tabletas y pantallas más grandes */
  }
}

/* Estilos para móviles */
@media screen and (max-width: 768px) {
  .background-sections-nutrition, .background-sections-nutrition-borderless {
    padding: 10px;
  }

  .list-group-item {
    padding: 12px 15px; /* Un poco menos de espaciado para dispositivos más pequeños */
  }
}