.button-section-nutrition{
    margin-top: 5%;

}
.buttonSendForm {
    background-color: #2DAAE2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    
    width: 50%;
}

@media (min-width: 200px) and (max-width: 410px) {
    .button-section-nutrition{
        margin-top: -10;
    }


}
  