
/*.button-container {
    display: flex;
    justify-content: flex-start; 
    margin-top: 20px; 
    width: 120%;

}*/

a.join-now {
    align-items: center;
    justify-content: center;
    width: auto;  
    height: 50px;
    padding: 10px 5px; /* Añadido para dar un poco de espacio en los lados del texto del botón */
    background: linear-gradient(90deg, #65bce8, #306485);
    transition: all .3s;
    border-radius: 32px;
    text-decoration: none; /* Para eliminar la línea debajo del texto del enlace */
    margin-right: auto;
}

a.join-now:hover {
    background: linear-gradient(90deg, #306485, #65bce8); /* Intercambia los colores al pasar el mouse */
    color: #ffffff; /* Cambia el color del texto al pasar el mouse */
}

.button-section-nutrition{

    background-color: #2DAAE2;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 50px;


    position: absolute;
    top: 50%;  /* Centra el botón verticalmente */
    left: 50%; /* Centra el botón horizontalmente */
    transform: translate(-50%, -50%); 

}