    .navbar-horizontal, .navbar-toggler {
        display: none;
    }

    
    

    .navbar-horizontal, .navbar-toggler {
        display: none;
    }
    .nav-link {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    .nav-link1 {
        color: white;
        text-decoration: none;
        cursor: pointer;
        padding-left: 5em;
    }

    .nav-link:hover {
        color: #1F92D1;  
    }

    @media (max-width: 768px) {
        .navbar-horizontal, .navbar-toggler {
            display: block;
        }
    }

/*     @media (max-width: 768px) {
        .navbar-toggler {
            display: block;
        }
    } */

    @media (min-width: 768px) {
        .navbar-horizontal {
            display: block;
        }
    }



  
  @media (min-width: 1024px) and (max-width: 1999px) {
    .nav-link {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    .NavBar-logo {
        height: 150px; /* Aumenta el tamaño del logo */
    }
  
  }
  
  @media  (min-width: 2000px) and (max-width: 4000px) {
    .nav-link {
        color: white;
        text-decoration: none;
        cursor: pointer;
        padding: 1.5rem 5rem
    }

    .NavBar-logo {
        height: 150px; /* Aumenta el tamaño del logo */
    }
    
  }
