/* Sidebar.css */
.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    left: -250px;
    background-color: black;

    margin-top: -15px;
    transition: left 0.5s;
}

.sidebar.open {
    left: 0;
    z-index: 9999;
}

.sidebar-content a {
    display: block;
    color: #818181;
    text-decoration: none;
    padding: 8px;
}

.close-btn {
    color: #f1f1f1;
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 16px;
    cursor: pointer;
    background-color: #18171c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;


}

.navbar-toggler {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    /* Añade los estilos adicionales que necesites para el botón */
}
.sidebar .open {
    background-color: black;
}

/* Se muestra solo en pantallas grandes */

@media (min-width: 981px) {
    .sidebar {
        display: none;
    }
}

@media (max-width: 982px) {
    .navbar-toggler {
        display: block;
    }
}
